<%= form_with(model: track) do |form| %>
    <div class='field'>
        <%= form.label :playlist_id %>
        <%= form.collection_select :playlist_id, Playlist.all, :id, :name, include_blank: false %>
    </div>

    <%= form.text_field :track_id, value: params[:id_track] , class: "d-none" %>

    <div>
        <%= form.submit %>
    </div>
<% end %>