<%= form_tag("/tracks/show", method: "get") do %>
  <%= label_tag(:q, "Search Tracks:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<h1> Suas Playlists </h1>
<ul>
  <% @playlists.each do |playlist| %>
    <li>
      <a href="<%= playlist_path(playlist) %>">
        <%= playlist.name %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Playlist", new_playlist_path %>