<%= form_tag("/tracks/show", method: "get") do %>
  <%= label_tag(:q, "Search Tracks:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<%= link_to "Tracks", tracks_path %>
<h1> Suas Playlists </h1>
<ul>
  <% @playlists.each do |playlist| %>
    <li>
        <h4><%= playlist.name %></h4>
        <%= link_to "Usar Playlist", playlist_path(playlist) %>
        <td><%= button_to "Deletar", playlist, :method => :delete %></td>
    </li>
  <% end %>
</ul>

<%= link_to "New Playlist", new_playlist_path %>
</br>
<%= link_to 'Sair', destroy_user_session_path, :method => :delete %> 